@model BlogSpotApp.Models.DTOs.UserViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label">Email</label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div style="color: red;">@ViewBag.ErrorMessage</div>
        }
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Name</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReTypePassword" class="control-label">Retype Password</label>
                <input asp-for="ReTypePassword" type="password" class="form-control" />
                <span asp-validation-for="ReTypePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label">Choose user type.</label>
                <select asp-for="Role" class="form-control">
                    <option value="admin">Blogger</option>
                    <option value="user">Reader</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Message;
        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}